* {
  box-sizing: border-box;
  /*faz com que a largura e altura de um elemento incluam o preenchimento (padding) e a borda (border) no cálculo, resultando em um layout mais previsível*/
}

body {
  background-color: rgb(26, 26, 26); /*muda a cor do fundo da página*/
}

.card {
  color: white; /*muda a cor do texto*/
  font-family: sans-serif;/*muda a fonte do texto*/
  border: 1px solid white; /*Borda branca pequena*/
  border-radius: 10px;/*Adiciona borda arredondada ao card*/
  text-align: center;/*centraliza o texto*/
  width: 20%;/*coloca o tamanho do card em 20% (verticalmente)*/
  margin: 0 auto; /* margin 0 pra cima e pra baixo e auto pra esquerda e pra direita, isso faz a div ficar centralizada*/
  padding: 10px; /*adiciona um espaço de 10px*/
  box-shadow: 5px 6px 0 white; /*sombra da caixa*/
}

.card img {
  width: 100%; /* largura de 100% da imagem*/
  border-radius: 8px; /* Cantos arredondados */
}

